<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.1.4776" newVersion="10.6.1.4776" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.Shared" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.1.4776" newVersion="10.6.1.4776" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.Lib" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.1.4776" newVersion="10.6.1.4776" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.PdfReader" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.7.0.0" newVersion="10.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>