<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atalasoft.dotImage.Barcoding.Reading.x86" version="10.7.0.103644" targetFramework="net40" />
  <package id="Atalasoft.dotImage.Lib.x86" version="10.7.0.103644" targetFramework="net40" />
  <package id="Atalasoft.dotImage.PdfDoc.Bridge.x86" version="10.7.0.103644" targetFramework="net40" />
  <package id="Atalasoft.dotImage.WinControls.x86" version="10.7.0.103644" targetFramework="net40" />
  <package id="Atalasoft.dotImage.x86" version="10.7.0.103644" targetFramework="net40" />
  <package id="Atalasoft.PdfDoc.x86" version="10.7.0.103644" targetFramework="net40" />
  <package id="Atalasoft.Shared" version="10.7.0.103644" targetFramework="net40" />
</packages>